/* line 1, sass/main.sass */
body {
  font-family: helvetica; }

/* line 6, sass/main.sass */
label {
  font-weight: bold;
  padding: 0 5px; }

/* line 10, sass/main.sass */
table.report {
  margin-bottom: 1em;
  font-size: 90%;
  width: 800px; }

/* line 14, sass/main.sass */
th {
  font-weight: bold; }

/* line 16, sass/main.sass */
td {
  text-align: left;
  vertical-align: top; }

/* line 19, sass/main.sass */
td.image {
  width: 75px; }

/* line 21, sass/main.sass */
td.author {
  width: 100px; }

/* line 23, sass/main.sass */
td.text {
  width: 500px; }

/* line 25, sass/main.sass */
td.controls {
  text-align: right;
  width: 125px; }

/* line 29, sass/main.sass */
.record-form {
  background-color: white; }
