

<div style="width:500px; padding:20px; margin:30px auto; border:1px solid #c3c3c3"><%= image_tag "birds.jpg", :alt => "Birds. Apologies: Copyright Unknown." %>

<h2>All Together Now</h2>

<a href="session/new">Create an Account</a> and <a href="/reports">Start Sweeping</a>.
</div>