<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <%= render :partial => 'layouts/head' %>
  <body>

  <div style="width:500px; padding:20px; margin:30px auto; border:1px solid #c3c3c3"><%= image_tag "birds.jpg", :alt => "Birds. Apologies: Copyright Unknown." %>

  <h2>All Together Now</h2>

  <%= link_to "Create an Account", login_path %> and <%= link_to "Start Sweeping", reports_path %>.

  <p>Experiments: <a href="http://iran.swiftapp.org">Iran</a>,<a href="swineflu.ushahidi.com">swineflu</a>.<a href="mailto:cblow@meedan.net">add your own!</a></p>
  </div>
  </body>
</html>