<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>swift  </title>

<meta name="generator" content="WordPress 2.7.1" /> <!-- leave this for stats -->

<link rel="stylesheet" href="http://swiftapp.org/wp-content/themes/wordpress-swift/style.css" type="text/css" media="screen" />
<link rel="alternate" type="application/rss+xml" title="swift RSS Feed" href="http://swiftapp.org/?feed=rss2" />
<link rel="pingback" href="http://swiftapp.org/xmlrpc.php" />


<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://swiftapp.org/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://swiftapp.org/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 2.7.1" />

</head>
<body>
<div id="page">


<%= render :partial => "reviewer_sidebar" %>

<div id="header">
	<div id="headerimg">
		<h1><a href="http://swiftapp.org/">swift</a></h1>
		<div class="description">developer site</div>

	</div>
</div>
<hr />

	<div id="content" class="narrowcolumn">

				<div class="post" id="post-2">
		<div class="postTitle"><div><h2>About</h2></div></div>
			<div class="entry">
				<p>Swift is a Free and Open Source toolset for crowdsourced situational awareness. The first use of Swift is as a complement to Ushahidi to monitor the Indian 2009 Elections, which you can see at <a href="http://votereport.in">Vote Report India</a>.</p>

<p>Swift builds on <a href="http://blog.twittervotereport.com/">Twitter Vote Report</a>, a platform for crowd-sourced election monitoring.  Twitter Vote Report made it possible for US voters to report voting irregularities in real-time using a standard set of tags for monitoring wait time at polling places.</p>
<p>Swift hopes to expand this approach into a general purpose toolkit for crowdsouring the semantic structuring of data so that it can be reused in other applications and visualizations. The developers of Swift are particularly interested in crisis reporting (<a href="http://ushahidi.com">Ushahidi</a>) and international media criticism (<a href="http://meedan.net">Meedan</a>), but by providing a general purpose crowdsourcing tool we hope to create a tool reusable in many contexts.</p>
<p>Swift engages self-interested teams of &#8220;citizen editors&#8221; who curate publicly available information about a crisis or any event or region as it happens.</p>
<p>The goal of Swift is to provide an API (for programmers) and data set (for researchers) about an arbitrary set of RSS feeds. Swift is a database and a user interface; we are currently focusing on utilizing the open source <a href="http://freebase.com">freebase.com</a> repository as a central store of our curated data.</p>

<h2>Project Goals</h2>
<ul>
<li>Provide a structured, weighted index about a crisis in real time</li>
<li>Make it easier to find known facts about a crisis</li>
<li>Make it easier to find things that you <em>didn&#8217;t</em> know you were looking for in a crisis</li>
<li>Make crisis data more sharable (&#8221;linked&#8221; eg &#8220;structured&#8221; eg &#8220;semantic&#8221;) using open standards such as FOAF, iCal, Dublin Core, as well as open publishing endpoints like Freebase</li>

<li>Make it more obvious what information is missing about a crisis</li>
<li>Make it easier to do data entry about a crisis (tools for crisis data mob)</li>
<li>Promote the work eyewitness reporters and expand the grassroots reporting network as needed</li>
<li>Automate as much information triage as possible</li>
<li>Adapting automated aggregation techniques to crisis conditions</li>
<li>Providing a model for emerging reporters&#8217; network in the developing world.</li>
<li>Provide tools for ontology development and structured publishing</li>
</ul>

<h2>Built on Good Stuff</h2>
<p><a href="http://rubyonrails.org/">Rails</a> managed by <a href="http://git-scm.com/">git</a> and <a href="http://github.com/ajturner/swiftriver/tree/master">Github</a>.</p>
<p><a href="http://git-scm.com"><img class="alignnone size-full wp-image-67" title="logo_git" src="http://swiftapp.org/wp-content/uploads/logo_git.png" alt="logo_git" width="127" height="106" /></a><a href="http://github.com"><img class="alignnone size-full wp-image-68" title="logo_github" src="http://swiftapp.org/wp-content/uploads/logo_github.jpg" alt="logo_github" width="129" height="120" /></a><a href="http://rubyonrails.org"><img class="alignnone size-full wp-image-69" title="logo_rails" src="http://swiftapp.org/wp-content/uploads/logo_rails.png" alt="logo_rails" width="87" height="111" /></a></p>
<h2>Join the development team</h2>
<p>If you are familiar with ruby or php, please email cgblow@gmail.com and let us know how you&#8217;d like to help. Current programming (volunteer) opportunities include:</p>

<ul>
<li>Ruby and Rails</li>
<li>Passenger, Apache, Mysql, etc</li>
<li>Graphic Designers</li>
<li>XHTML/CSS</li>
<li>Data Visualizers (eg, Processing, Javascript)</li>
<li>Semantic Web/Freebase.com Hackers</li>
<li>php experts</li>
</ul>
<h2>Get the Source Code Already</h2>

<p>You can download the latest version of Swift from Andrew Turner&#8217;s Github page:</p>
<p><a href="http://github.com/ajturner/swiftriver/tree/master">http://github.com/ajturner/swiftriver/tree/master</a></p>

				
			</div>
		</div>
				</div>

	<div id="sidebar">
    <a href="http://github.com/ajturner/swiftriver/tree/master"><img src="/wp-content/uploads/download.jpg" alt="download swift" /></a>

		<ul>

		  
			<h3>Summary from Erik Hersman:</h3>
			<li class="quote">
				<p>Swift ... is an initiative that seeks to do two very important things, both of which are crucial for not just Ushahidi, but for many emergency response activities in the future. <strong>First</strong>, it gathers as many possible streams of data about a particular crisis event as possible. <strong>Second</strong>, using a two-part filter, that stream of data is filtered through both machine based algorithms and humans to better understand the veracity and level of importance of any piece of information. - <a href="http://blog.ushahidi.com/index.php/2009/04/07/vote-report-india-launches/">Erik</a></p>
			</li>

			
			
			
		  <li>
			  <table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
          <tr><td>
          <img src="http://groups.google.com/groups/img/3nb/groups_bar.gif"
                 height=26 width=132 alt="Google Groups">
          </td></tr>
          <tr><td style="padding-left: 5px">
          <b>Subscribe to Swift River</b>
          </td></tr>

          <form action="http://groups.google.com/group/swiftriver/boxsubscribe">
          <tr><td style="padding-left: 5px;">
          Email: <input type=text name=email>
          <input type=submit name="sub" value="Subscribe">
          </td></tr>
        </form>
        <tr><td align=right>
          <a href="http://groups.google.com/group/swiftriver">Visit this group</a>

        </td></tr>
        </table>

       <li><h3>irc.freenode.net</h3>
         join #swiftriver</li>
			</li>
			<li class="quote">
				<h3>On Vote Report India, the first Swift instance</h3>

				<p><a href="http://votereport.in">Vote Report India</a> is a collaborative citizen-powered election monitoring platform for the 2009 Indian Lok Sabha elections. Basically, users contribute direct SMS, email, and web reports on violations of the Election Commission’s Model Code of Conduct. The platform will then aggregate these direct reports with news reports, blog posts, photos, videos and tweets related to the elections from all relevant sources, in one place, on an interactive map. - <a href="http://www.gauravonomics.com/blog/the-story-behind-vote-report-india-citizen-powered-election-monitoring/">Gaurav</a></p>
			</li>
			
			<li class="quote">
				<h3>On the process the led to Twitter Vote Report</h3>
				<p>As we built out the project in those frantic October days, we were a bit concerned that in the certain flood of election day reports sent our way, we might have a signal vs. noise problem -- with nonsense reports, sabotage reports, poorly-structured reports, or well-intentioned but informationless reports muddying the data stream. So developers built what we called a "sweeper" interface, where volunteers could clean up and weight what users were inputting into the system. - <a href="http://personaldemocracy.com/node/7576">Nancy</a></p>

			</li>
			
			<li><h2>People</h2>
				<p>These pages are maintained by the developers of Swift, Chris Blow and Kaushal Jhalla.</p>
				<p>Swift is a project involving many people, including Sean Gourley, Ka-Ping Yee, Ed Bice, Erik Hersman, Anslem Hook, the <a href="http://votereport.in">Vote Report India team</a></p>
				<p>The project is especially indebted to Andrew Turner and the Twitter Vote Report team for their open source platform, on which Swift is based.</p>
			</li>

			
			<li><h2>Organizations</h2>
				<ul id="orgs">
					<li><a href="http://meedan.net"><img src="/wp-content/uploads/meedan.png" alt="meedan logo" /></a></li>
					<li><a href="http://ushahidi.com"><img src="/wp-content/uploads/ushahidi.jpg" alt="ushahidi logo" /></a></li>
					<li><a href="http://freebase.com"><img src="/wp-content/uploads/freebase.png" alt="freebase logo" /></a></li>			
				</ul>
			</li>

		</ul>

	</div>



<hr />
<div id="footer">
</div>
</div>
</body>
</html>
