<%= render :partial => "layouts/navigation" %>

<% data1 = [10, 30, 45, 44, 23, 44, 45, 56, 56, 45, 56, 67, 78, 78, 12, 45, 44, 23, 44, 45, 56, 56, 45, 56, 67, 78, 78, 120, 45, 72] %>
<% data2 = [10, 30, 45, 78, 78, 120, 45, 72] %>

<div id="header">
<h2>
  This <span class="instance_name">Swift Instance</span> has <%= image_tag(Gchart.sparkline( :size => '80x25', :line_colors => '0077CC', :data => data2)) %> 423 sources and <%= image_tag(Gchart.sparkline( :size => '80x25', :line_colors => '0077CC', :data => data1)) %> 43,845 Links.</li> 
</h2>

 <h3>Your job is to tag these links with <span clas="person tag">People</span>, <span class="location tag">Places</span>, and <span class="organization tag">Organizations</span>.</h3>
 
 </div>
 
