%div.span-10#tags
  %ul#tags
    - report.tags.each do |tag|
      %li#organization= tag.to_s
    - unless report.location.nil?
      %li#place report.location.address
      
%img#left_arrow{:src=>"/images/arrow_l.gif"}
%span.caps 
  reported 
  =h time_ago_in_words(report.created_at)
  ago from 
  =h report.reporter.name 
  
  <!-- (via <%= report.reporter.source_name %>) --> 


%h2 
  =h report.title
%p
  = auto_link(h(report.body))
  - if report.is_a?(AudioReport)
    Listen to this audio report:
    = audio_link(report)
  = report.id

%span
  =image_tag(report.reporter.icon || "", :class => "profile")