<div id="sidebar_content">  
  <h2>Your Mission</h2>
    <p>Tag an incoming webpage, photo, or video. Then click <em>Add to this Cluster</em>, or <em>Ignore</em> a report that is not relevant.</p>
</div>