<p>Swift River ("Swfit") is a Free and Open Source tool for crowdsourced situational awareness.</p>

<p>Swift builds on Twitter Vote Report, election monitoring application that lets voters report voting irregularities. Titter Vote Report was particularly innovative because it relied on real people reviewing and refining the reports into reusable data. Anyone could register to be a "Sweeper" who converted phone calls and SMS messages into machine-readable format. This allowed for unprecedented visualizations of the election in real time, created entirely by citizens.
</p>

<p>In this way, Swift hopes to organize and republish data by letting "crowds" of interested people tag information as it is received. The goal is to create a responsive news tool that allows "citizen editors" to curate structured data about an emergent topic. Theoretically, Swift could be used to organize a team around any topic, but the developers of Swift are particularly interested in crisis reporting (<a href="http://ushahidi.com">Ushahidi</a>) and international media criticism (<a href="http://meedan.net">Meedan</a>).</p>

<h3>Current Release</h3>

<h4>Get Version 0.0.1, Wonky Wackalope</h4>
<pre>git clone http://github.com/ajturner/swiftriver/tree/master</pre>

<h3>Early Features (Near-Term Release)</h3>

<p>
  By design, Swift will be released as a general-purpose crowdsourcing tool -- it will be a standalone Open Source library including the following modules: 
</p>

<ul>
  <li>RSS Aggregator</li>
  <li>Topic Clusterer</li>
  <li>Tagging Interface</li>
</ul>

<h3>Roadmap</h3>

<p>Swift hopes to engage self-interested teams of “citizen editors” who curate publicly available information about an event (partircularly a crisis) as it happens. Swift is currently a work in progress and has not reached a releasable state. The near-term technical goal of Swift is to provide an API (for programmers) and data set (for researchers) about an arbitrary set of RSS feeds. Check out the <a href="http://groups.google.com/group/swiftriver">general discussion list</a> and <a href="http://groups.google.com/group/swift-dev">the developer list</a> if you are interested in seeing how progress is going. 
</p>

<p>Read more at <a href="http://swiftapp.org">http://swiftapp.org</a>.</p>